body{
    background-color : #dee2e6 !important;
}
.bg-dark{
    background-color: #000000 !important;
}
.border-bottom-warning {
    border-bottom: 5px solid yellow;
}
.border-left-warning {
    border-left: 5px solid yellow;
}
.bg-warning{
    background-color: yellow !important;
}
.text-warning{
    color: yellow !important;
}
.carousel-item img{
    width: 100%;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1px solid #ccc;
    opacity: 1;
}
.carousel-indicators .active{
    background-color: yellow;
    border: 1px solid yellow;
}
.text-nowrap{
    overflow: hidden;
}
thead{
    background-color: aliceblue !important;
}
.row{
    margin: 0px;
    padding: 0px;
}
#m-flag{
    display: none;
}
#d-flag{
    display: block;
}
#MainTitle{
    font-size: 30px;
}
.right-panel-title{
    font-size: 14px;
}

#demo .carousel-indicators{
    bottom: -18px;
}
#demo .col-md-3{
    display: inline-block;
    margin-left:-4px;
    width: 33%;
    max-width: none;
    padding: 15px;
}
#demo .col-md-3 img{
    width:95%;
    height:auto;
}
#demo .carousel-item{
    left: 10px;
}
#demo .carousel-control-prev{
    left: -8px;
}
#demo .carousel-control-next{
    right: -8px;
}
#demo .carousel-control-prev, #demo .carousel-control-next{
    width: 4%;
    opacity: 1;
}
.Close{
    right: 0;
    z-index: 5;
}
.border-right-green{
    border-right: 5px solid green !important;
}
.rounded-0:focus-within.rounded-0:focus,.rounded-0:active{
    border: 0px;
}
#rightAccordion .panel-title{
    font-size: 16px !important;
}

@media screen and (min-width: 1025px){
    .imgBlock{
        width: 20%;
    }
    .titleBlock{
        width: 70%;
    }
    .iconBlock{
        width: 10%;
    }
    .padd-with{
        padding: 15px 5px;
    }
    .padd-with-mid{
        padding: 15px 5px;
    }
    .padd-without{
        padding: 10px 5px;
    }
    .icon-size{
        font-size: 65px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .imgBlock{
        width: 30%;
    }
    .titleBlock{
        width: 60%;
    }
    .iconBlock{
        width: 10%;
    }
    .padd-with{
        padding: 15px 5px;
    }
    .padd-with-mid{
        padding: 3px 5px;
    }
    .padd-without{
        padding: 0px 5px;
    }
    .icon-size{
        font-size: 50px;
    }
    .desc-size{
        font-size: 12px;
    }
}
@media screen and (max-width: 767px){
    .imgBlock{
        width: 15%;
    }
    .titleBlock{
        width: 75%;
    }
    .iconBlock{
        width: 10%;
    }
    .padd-with{
        padding: 15px 5px;
    }
    .padd-with-mid{
        padding: 15px 5px;
    }
    .padd-without{
        padding: 15px 5px;
    }
    .icon-size{
        font-size: 65px;
    }
    body{
        overflow-x: hidden;
    }
    .acc-font-size,.right-panel-title{
        font-size: 14px;
    }
    #m-flag{
        display: block;
    }
    #d-flag{
        display: none;
    }
    .navbar-nav{
        position: relative;
        left: -75vw;
        top: 10px;
    }
    .navbar-toggler{
        padding: 10px;
    }
}