<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MS Alliance Internal Global Site</title>
    <script src="./js/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="./css/default.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="./js/script.js"></script>
</head>

<body ng-app="GloablGTMApp" ng-controller="GloablGTMController">
    <div id="header" class="bg-dark">
        <header id="d-flag"></header>
        <mobile-header id="m-flag"></mobile-header>
    </div>
    <div id="main" class=" row container-fluid">
        <div id="left-container" class="col-sm-12 col-md-3 col-lg-3 mt-3">
            <div class="bg-dark d-block text-center border-bottom-warning">
                <figure>
                    <img src="./img/icon_3.png" alt="global_gtm_image" style="margin-top: 25px;" />
                    <figcaption class="text-warning" style="font-size: 20px;">Global GTM</figcaption>
                </figure>
            </div>
            <div class="mt-2">
                <div class="bg-warning py-2">
                    <span class="px-2"><img src="./img/Alliances.png" width="36px" />
                    <span style="font-size: 18px;">Alliances Home</span></span>
                </div>
                <div class="mt-2 bg-light">
                    <span>
                        <i class="fas fa-map-marker-alt bg-dark text-light"
                            style="font-size:18px; padding: 14px 16px;"></i>
                        <span class=" pl-2">Areas</span>
                    </span>
                </div>
                <div class="bg-light border-left-warning pl-3 py-3 mt-2">
                    <span>Americas</span>
                </div>
                <div class="bg-light border-left-warning pl-3 py-3 mt-2">
                    <span>EMEIA</span>
                </div>
                <div class="bg-light border-left-warning pl-3 py-3 mt-2">
                    <span>Asia-Pacific</span>
                </div>
                <div class="bg-light border-left-warning pl-3 py-3 mt-2">
                    <span>Japan</span>
                </div>
            </div>
        </div>
        <div id="main-container" class="col-sm-12 col-md-6 col-lg-6 mt-3">
            <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="3000">
                <ul class="carousel-indicators">
                    <li data-target="#carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel" data-slide-to="1"></li>
                    <li data-target="#carousel" data-slide-to="2"></li>
                </ul>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="./img/banner_alliance.jpg" alt="Global GTM ">
                    </div>
                    <div class="carousel-item">
                        <img src="./img/banner_alliance_1.jpg" alt="Global GTM">
                    </div>
                    <div class="carousel-item">
                        <img src="./img/banner_alliance_2.jpg" alt="Global GTM">
                    </div>
                </div>
            </div>
            <div class="panel-group mt-2" id="mainAccordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default mb-2">
                    <div class="panel-heading bg-light" role="tab" id="latestNews">
                            <a role="button" class="text-decoration-none" data-toggle="collapse"
                                data-parent="#mainAccordion" href="#mainLatestNews" aria-expanded="true"
                                aria-controls="mainLatestNews"  ng-click="toggleClass('laNe')">
                                <h4 class="panel-title">
                                <div>
                                    <img src="./img/latestNews.png" />
                                    <span class="acc-font-size text-dark">Latest News</span>
                                    <div id="laNe" class="plus float-right mr-1 my-2">
                                        <i class="fas fa-plus rounded-circle text-dark p-1 bg-warning"
                                            style="font-size: 12px;"></i>
                                    </div>
                                    <div id="laNe" class="minus float-right mr-1 my-2 d-none">
                                        <i class="fas fa-minus rounded-circle text-dark p-1 bg-warning"
                                            style="font-size: 12px;"></i>
                                    </div>
                                </div>
                            </h4>
                            </a>
                    </div>
                    <div id="mainLatestNews" class="panel-collapse collapse" role="tabpanel"
                        aria-labelledby="latestNews">
                        <div class="panel-body bg-light rounded px-4 py-2">
                            <div class="row" ng-repeat="ln in latestNews">
                                <div class="col-sm-12 col-md-3 col-lg-3">
                                    <img ng-src="{{ln.URL}}" style="width:100%" />
                                </div>
                                <div class="col-sm-12 col-md-9 col-lg-9">
                                    <p class="m-0" ng-bind-html="ashtml(ln.Description)"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default mb-2">
                    <div class="panel-heading bg-light" role="tab" id="latestAnnouncement">
                            <a role="button" class="text-decoration-none" data-toggle="collapse"
                                data-parent="#mainAccordion" href="#mainLatestAnnouncement" aria-expanded="true"
                                aria-controls="mainLatestAnnouncement"  ng-click="toggleClass('laAn')">
                                <h4 class="panel-title">
                                <div>
                                    <img src="./img/latestAnnouncement.png" />
                                    <span class="acc-font-size text-dark">Latest Announcements</span>
                                    <div id="laAn" class="plus float-right mr-1 my-2">
                                        <i class="fas fa-plus rounded-circle text-dark p-1 bg-warning"
                                            style="font-size: 12px;"></i>
                                    </div>
                                    <div id="laAn" class="minus float-right mr-1 my-2 d-none">
                                        <i class="fas fa-minus rounded-circle text-dark p-1 bg-warning"
                                            style="font-size: 12px;"></i>
                                    </div>
                                </div>
                            </h4>
                            </a>
                    </div>
                    <div id="mainLatestAnnouncement" class="panel-collapse collapse" role="tabpanel"
                        aria-labelledby="latestAnnouncement">
                        <div class="panel-body bg-light rounded p-2">
                            <div class="row" ng-repeat="la in latestAnnouncements">
                                <div class="col-sm-12 col-md-4 col-lg-2">
                                    {{la.Date}}
                                </div>
                                <div class="col-sm-12 col-md-8 col-lg-10">
                                    <p class="text-nowrap m-0" ng-bind-html="ashtml(la.Description)"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default mb-2">
                    <div class="panel-heading bg-light" role="tab" id="latestDocument">
                            <a role="button" class="text-decoration-none" data-toggle="collapse"
                                data-parent="#mainAccordion" href="#mainLatestDocument" aria-expanded="true"
                                aria-controls="mainLatestDocument"  ng-click="toggleClass('laDo')">
                        <h4 class="panel-title">
                                <div>
                                    <img src="./img/latestDocument.png" />
                                    <span class="acc-font-size text-dark">Latest Documents</span>
                                    <div id="laDo" class="plus float-right mr-1 my-2">
                                        <i class="fas fa-plus rounded-circle text-dark p-1 bg-warning"
                                            style="font-size: 12px;"></i>
                                    </div>
                                    <div id="laDo" class="minus float-right mr-1 my-2 d-none">
                                        <i class="fas fa-minus rounded-circle text-dark p-1 bg-warning"
                                            style="font-size: 12px;"></i>
                                    </div>
                                </div>
                            </h4>
                            </a>
                    </div>
                    <div id="mainLatestDocument" class="panel-collapse collapse" role="tabpanel"
                        aria-labelledby="latestDocument">
                        <div class="panel-body bg-light rounded p-3 overflow-auto">
                            <table class="text-center">
                                <thead>
                                    <td></td>
                                    <td class="pl-4">Date</td>
                                    <td class="pl-4">Title</td>
                                    <td class="pl-4">Owner</td>
                                    <td class="pl-4">Date Modified</td>
                                    <td class="pl-4">Modified By</td>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="ld in latestDocument">
                                        <td width="45px"><img width="100%" ng-src="{{ld.imgURL}}" /></td>
                                        <td class="pl-4">{{ld.Date}}</td>
                                        <td class="pl-4">{{ld.Title}}</td>
                                        <td class="pl-4">{{ld.Owner}}</td>
                                        <td class="pl-4">{{ld.DateModified}}</td>
                                        <td class="pl-4">{{ld.ModifiedBy}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default mb-2">
                    <div class="panel-heading bg-light" role="tab" id="latestVideo">
                            <a role="button" class="text-decoration-none" data-toggle="collapse"
                                data-parent="#mainAccordion" href="#mainLatestVideo" aria-expanded="true"
                                aria-controls="mainLatestVideo"  ng-click="toggleClass('laVi')">
                        <h4 class="panel-title">
                                <div>
                                    <img src="./img/latestVideo.png" />
                                    <span class="acc-font-size text-dark">Latest Videos</span>
                                    <div id="laVi" class="plus float-right mr-1 my-2">
                                        <i class="fas fa-plus rounded-circle text-dark p-1 bg-warning"
                                            style="font-size: 12px;"></i>
                                    </div>
                                    <div id="laVi" class="minus float-right mr-1 my-2 d-none">
                                        <i class="fas fa-minus rounded-circle text-dark p-1 bg-warning"
                                            style="font-size: 12px;"></i>
                                    </div>
                                </div>
                            </h4>
                            </a>
                    </div>
                    <div id="mainLatestVideo" class="panel-collapse collapse" role="tabpanel"
                        aria-labelledby="latestVideo">
                        <div class="panel-body bg-light rounded p-2">
                            <div id="demo" class="carousel slide" data-ride="carousel">

                                <!-- Indicators -->
                                <ul class="carousel-indicators">
                                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                                    <li data-target="#demo" data-slide-to="1"></li>
                                    <li data-target="#demo" data-slide-to="2"></li>
                                </ul>

                                <!-- The slideshow -->
                                <div class="carousel-inner">
                                    <div class="carousel-item  active">
                                        <div class="col-xs-3 col-sm-3 col-md-3">
                                            <a href="#exampleModal" data-toggle="modal" data-target="#exampleModal">
                                                <img src="./img/play.png" onclick="playVid()"/>
                                            </a>
                                        </div>
                                        <div class="col-xs-3 col-sm-3 col-md-3">
                                            <a href="#exampleModal" data-toggle="modal" data-target="#exampleModal">
                                                <img src="./img/play.png" onclick="playVid()"/>
                                            </a>
                                        </div>
                                        <div class="col-xs-3 col-sm-3 col-md-3">
                                            <a href="#exampleModal" data-toggle="modal" data-target="#exampleModal">
                                                <img src="./img/play.png" onclick="playVid()"/>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="col-xs-3 col-sm-3 col-md-3">
                                            <a href="#exampleModal" data-toggle="modal" data-target="#exampleModal">
                                                <img src="./img/play.png" onclick="playVid()"/>
                                            </a>
                                        </div>
                                        <div class="col-xs-3 col-sm-3 col-md-3">
                                            <a href="#exampleModal" data-toggle="modal" data-target="#exampleModal">
                                                <img src="./img/play.png" onclick="playVid()"/>
                                            </a>
                                        </div>
                                        <div class="col-xs-3 col-sm-3 col-md-3">
                                            <a href="#exampleModal" data-toggle="modal" data-target="#exampleModal">
                                                <img src="./img/play.png" onclick="playVid()"/>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="col-xs-3 col-sm-3 col-md-3">
                                            <a href="#exampleModal" data-toggle="modal" data-target="#exampleModal">
                                                <img src="./img/play.png" onclick="playVid()"/>
                                            </a>
                                        </div>
                                        <div class="col-xs-3 col-sm-3 col-md-3">
                                            <a href="#exampleModal" data-toggle="modal" data-target="#exampleModal">
                                                <img src="./img/play.png" onclick="playVid()"/>
                                            </a>
                                        </div>
                                        <div class="col-xs-3 col-sm-3 col-md-3">
                                            <a href="#exampleModal" data-toggle="modal" data-target="#exampleModal">
                                                <img src="./img/play.png" onclick="playVid()"/>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Left and right controls -->
                                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                                    <i class="fas fa-angle-left text-dark bg-warning rounded-circle px-2 py-1"></i>
                                </a>
                                <a class="carousel-control-next" href="#demo" data-slide="next">
                                    <i class="fas fa-angle-right text-dark bg-warning rounded-circle px-2 py-1"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                      <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button type="button" class="Close position-absolute rounded-circle bg-dark text-light" data-dismiss="modal" onclick="pauseVid()">X</button>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <video id="samplevideo" class="w-100 embed-responsive-item" controls="controls" poster="http://www.gossettmktg.com/video/dangot.png">
                                        <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="right-container" class="col-sm-12 col-md-3 col-lg-3 mt-3">
            <div class="bg-light panel-title">
                <img src="./img/Global GTM_americas.jpg" />
                <span class="pl-1">Key Contacts</span>
            </div>
            <div class="mt-1 p-3 bg-light">
                <div class="d-block py-1" ng-repeat="x in [].constructor(3) track by $index">
                    <div class="d-inline-block">
                        <i class="fa fa-user border border-dark border-right-green px-2 py-1 icon-size"></i>
                    </div>
                    <div class="d-inline-block ml-2 desc-size">Name<br />Position<br />Designation</div>
                </div>
            </div>
            <div class="mt-2 d-flex">
                <i class="fa fa-search bg-dark text-light p-2 rounded-0" style="font-size: 36px;"></i>
                <input type="text" class="w-100 rounded-0" placeholder="Find an Expert">
            </div>
            <div class="panel-group mt-2" id="rightAccordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default mb-2" ng-repeat="rl in rightLinks">
                    <div class="panel-heading bg-light" role="tab" id="{{rl.ID}}">
                            <a role="button" class="text-decoration-none" data-toggle="collapse"
                                data-parent="#rightAccordion" ng-href="#{{rl.href}}" aria-expanded="true"
                                aria-controls="{{rl.href}}" ng-click="toggleClass(rl.MethodId)">
                                <h4 class="right-panel-title">
                                    <div class="d-flex w-100">
                                        <div class="float-left d-block imgBlock"><img ng-src="{{rl.imgURL}}" /></div>
                                        <div class="float-left align-middle h-100 d-block acc-font-size text-dark text-wrap titleBlock" ng-class="{'padd-with':rl.Name.length <= 15,'padd-with-mid':((rl.Name.length > 15) && (rl.Name.length <= 30)),'padd-without':rl.Name.length > 31}">
                                            {{rl.Name}}
                                        </div>
                                        <div class="float-right d-block iconBlock">
                                            <div id="{{rl.MethodId}}" class="plus mr-1 my-3">
                                                <i class="fas fa-plus rounded-circle text-dark p-1 bg-secondary"
                                                    style="font-size: 10px;"></i>
                                            </div>
                                            <div id="{{rl.MethodId}}" class="minus mr-1 my-3 d-none">
                                                <i class="fas fa-minus rounded-circle text-dark p-1 bg-secondary"
                                                    style="font-size: 10px;"></i>
                                            </div>
                                        </div>
                                    </div>
                                </h4>
                            </a>
                    </div>
                    <div id="{{rl.href}}" class="panel-collapse collapse" role="tabpanel"
                        aria-labelledby="{{rl.ID}}">
                        <div class="panel-body">
                            <div class="d-flex mt-1" ng-repeat="x in [].constructor(3) track by $index">
                                <i class="fas fa-angle-right bg-warning text-dark px-2 py-1" style="font-size: 18px;"></i>
                                <div class="bg-light px-2 py-1 w-100">Lorem Ipsum</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-light mt-2 panel-title d-flex">
                <div class="d-lock imgBlock"><img src="./img/Calendar.jpg" /></div>
                <div class="d-block titleBlock acc-font-size padd-with">Calendar</div>
            </div>
            <div class="bg-light mt-2 panel-title d-flex">
                <div class="d-lock imgBlock"><img src="./img/SharePoint.jpg" /></div>
                <div class="d-block titleBlock acc-font-size padd-with-mid">SharePoint One Note</div>
            </div>
            <div class="bg-light mt-2">
                <img src="./img/yammer.jpg" class="w-100"/>
            </div>
        </div>
    </div>
    <div id="footer" class="bg-dark text-light w-100 h-25 text-center py-2 mt-3">
        COPY RIGHT TO E&Y
    </div>
</body>

</html>